$primary: #ffb813;
$primary-container: #EADDFF;
$on-primary: #1f1f1f;
$on-primary-container: #21005E;
$inverse-primary: #D0BCFF;

$surface: #ffffff;

$outline: #79747E;

$shadow: #000000;
$scrim: #000000;
