@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "./colors.scss";


%typography {
  font-family: Inter, sans-serif;
  color: $text-default;
}

.text {
  &--display-lg {
    @extend %typography;

    font-weight: 400;
    font-size: 4rem;
    line-height: 3.5625rem;
    letter-spacing: -0.015625rem;
  }

  &--display-md {
    @extend %typography;

    font-weight: 400;
    font-size: 2.8125rem;
    line-height: 3.25rem;
    letter-spacing: 0;
  }

  &--display-sm {
    @extend %typography;

    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: 0;
  }

  &--headline-lg {
    @extend %typography;

    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0;
  }

  &--headline-md {
    @extend %typography;

    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0;
  }

  &--headline-sm {
    @extend %typography;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0;
  }

  &--title-lg {
    @extend %typography;

    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: 0;
  }

  &--title-md {
    @extend %typography;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.009375rem;
  }

  &--title-sm {
    @extend %typography;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
  }

  &--label-lg {
    @extend %typography;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
  }

  &--label-md {
    @extend %typography;
    
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
  }

  &--label-sm {
    @extend %typography;
    
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
  }

  &--body-lg {
    @extend %typography;
    
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
  }

  &--body-md {
    @extend %typography;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.015625rem;
  }

  &--body-sm {
    @extend %typography;

    font-weight: 400;
    font-size: 0.70rem;
    line-height: 1rem;
    letter-spacing: 0.025rem;
  }
}
