{% extends 'base.html'%}
{% block content %}

  <section id="showcase">
    <div class="container text-left">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">

          </h1>
          <p class="lead"><b>Please provide all info below before submitting the appropriate file. For more information
          on what to include, see the About page.</b></p>
          <div class="search">
            <form action="{% url 'docgen' %}" method="POST">
              {% csrf_token %}
              <!-- Form Row 1 -->
              <p>Input file</p>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Input File</label>
                  <!--<input id="inFile" type="file" name="inFile" class="form-control" placeholder="Input File">-->
                    <input id="inFile" type="url" name="inFile" class="form-control" placeholder="Input File">
                </div>
              </div>

              <p> In what city and state was this project located?</p>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input id="city" type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                  </select>
                </div>
              </div>


            <p> What is the entiy name? (city name, property name, etc.) <i>Can be the same as city provided above.</i></p>
            <div class="search">

              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Entity Name</label>
                  <input id="entity" type="text" name="entity" class="form-control" placeholder="Entity Name">
                </div>
              </div>

             <p> What type of file are you preparing? <i>(Required for all submissions)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Type of File</label>
                  <select id="outFileType" name="outFileType" class="form-control">
                    <option selected="true" disabled="disabled">
                    <option value="1">Map</option>
                    <option value="2">Proposal</option>
                    <option value="3">Invoice</option>  <!---Pricing Sheet for Invoice - noted as "Invoice in db"--->
                    <option value="4">PPR</option>
                  </select>
                </div>
              </div>
              <p> Does this project use inch foot or square foot pricing? <i>(Required for all submissions)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Type of Pricing</label>
                  <select id="pricingType" name="pricingType" class="form-control">
                    <option selected="true" disabled="disabled">
                    <option value="1">Inch Foot Pricing</option>
                    <option value="2">Square Foot Pricing</option>
                  </select>
                </div>
              </div>

              <!-- Contact Info -->
              <p><b>Contact Info</b></p>
              <p> What is the contact's name and title?</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Contact Name</label>
                  <input id="conName" type="text" name="conName" class="form-control" placeholder="Contact Name">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Contact Title</label>
                  <input id="conTitle" type="text" name="conTitle" class="form-control" placeholder="Contact Title">
                </div>
              </div>
              <p> What is the contact's phone number, address, and email address?</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Contact Phone Number</label>
                  <input id="conPH" type="text" name="conPH" class="form-control" placeholder="Contact Phone Number">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Contact Address</label>
                  <input id="conAddress" type="text" name="conAddress" class="form-control" placeholder="Contact Address">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Contact Email Address</label>
                  <input id="conEmail" type="text" name="conEmail" class="form-control" placeholder="Contact Email Address">
                </div>
              </div>

              <!-- Project Manager/BD Info -->
              <p><b>Project Manager Info</b></p>
              <p> What is the Project Manager's name and title?</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">PM/BD Name</label>
                  <input id="bdName" type="text" name="bdName" class="form-control" placeholder="PM/BD Name">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">PM/BD Title</label>
                  <input id="bdTitle" type="text" name="bdTitle" class="form-control" placeholder="PM/BD Title">
                </div>
              </div>
              <p> What is the Project Manager's phone number and extension</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">PM/BD Phone Number</label>
                  <input id="bdPH" type="text" name="bdPH" class="form-control" placeholder="PM/BD Phone Number">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">PM/BD Extension</label>
                  <input id="bdExtension" type="text" name="bdExtension" class="form-control" placeholder="PM/BD Extension">
                </div>
              </div>

              <!-- Project Info -->
              <p><b>Project Info</b></p>
              <p> What is the project name?</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Project Name</label>
                  <input id="projName" type="text" name="projName" class="form-control" placeholder="Project Name">
                </div>
              </div>
              <p> What is the PPR # or PO#?</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">PPR #</label>
                  <input id="pprNum" type="text" name="pprNum" class="form-control" placeholder="PPR #">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">PO #</label>
                  <input id="poNum" type="text" name="poNum" class="form-control" placeholder="PO #">
                </div>
              </div>

              <p> What are the specs for this project</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Project Specs</label>
                  <select id="specs" name="specs" class="form-control">
                    <option selected="true" disabled="disabled">
                    <option value="1">.25 to 2.5 inches</option>
                    <option value="2">.5 to 2.5 inches</option>
                    <option value="3">1 to 2.5 inches</option>
                  </select>
                </div>
              </div>

              <p> What is the cost of dnr for this project? <i>(For example, if the cost is $15/sqft, type the number 15)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">DnR Cost</label>
                  <input id="dnrCost" type="number" name="dnrCost" class="form-control" placeholder="DnR Cost">
                </div>
              </div>
              <p> What is the cost of small trip hazards for this project? <i>(For example, if the cost is $2.50/sqft, type the number 2.5)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Small Cost</label>
<!--- Force the value of smCost to floating point wherever used --->
                  <input id="smCost" type="decimal" name="smCost" class="form-control" placeholder="Small Cost">
                </div>
              </div>
              <p> What is the cost of medium trip hazards for this project? <i>(For example, if the cost is $5/sqft, type the number 5)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Medium Cost</label>
                  <input id="mdCost" type="number" name="mdCost" class="form-control" placeholder="Medium Cost">
                </div>
              </div>
              <p> What is the cost of large trip hazards for this project? <i>(For example, if the cost is $10/sqft, type the number 10)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Large Cost</label>
                  <input id="lgCost" type="number" name="lgCost" class="form-control" placeholder="Large Cost">
                </div>
              </div>
              <p> What is the cost of curb hazards for this project? <i>(For example, if the cost is $10/sqft, type the number 10)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Curb Cost</label>
                  <input id="curbCost" type="number" name="curbCost" class="form-control" placeholder="Curb Cost">
                </div>
              </div>

              <p> Were segways used for this project? <i>(For PPR only)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Segways Used</label>
                  <select id="segways" name="segways" class="form-control">
                    <option selected="true" disabled="disabled">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                </div>
              </div>

              <p>How many safety incidents occurred during this project? <i>(Please type a number) (For PPR only)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Safety Incidents</label>
                  <input id="safetyIncidents" type="text" name="safetyIncidents" class="form-control" placeholder="Safety Incidents">
                </div>
              </div>

              <p>How many days of work were completed for this project? <i>(Please type a number) (For PPR/Invoice only)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Work Days</label>
                  <input id="knownDaysToFinish" type="text" name="knownDaysToFinish" class="form-control" placeholder="Work Days">
                </div>
              </div>

              <p>How many days of work are expected to complete for this project? <i>(Please type a number) (For Proposal only)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Min Work Days</label>
                  <input id="minDaysToFinish" type="text" name="minDaysToFinish" class="form-control" placeholder="Min Work Days">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Max Work Days</label>
                  <input id="maxDaysToFinish" type="text" name="maxDaysToFinish" class="form-control" placeholder="Max Work Days">
                </div>
              </div>

              <p>How many techs are expected to work on this project? <i>(Please type a number) (For Proposal only)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Techs</label>
                  <input id="techs" type="text" name="techs" class="form-control" placeholder="Techs">
                </div>
              </div>

              <p>What is the PSS minimum? <i>(Please type a dollar amount, for example $5,000) (For Proposal only)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">PSS Min</label>
                  <input id="pssMin" type="text" name="pssMin" class="form-control" placeholder="PSS Min">
                </div>
              </div>

              <p> Are these work order locations?</p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">W/O Locations</label>
                  <select id="woLoc" name="woLoc" class="form-control">
                    <option selected="true" disabled="disabled">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                </div>
              </div>

              <p> What data should be included in the map? <i>(For Map generation only)</i></p>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Include in Map</label>
                  <select id="mapData" name="mapData" class="form-control">
                    <option selected="true" disabled="disabled">
                    <option value="1">dnr</option>
                    <option value="2">repairs</option>
                    <option value="2">dnr and repair</option>
                  </select>
                </div>
              </div>


            <!--<button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button> -->
            <input type="submit" value="send" class="btn btn-block btn-secondary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}