{% extends "base.html" %}

{% block content %}
<h2>{% if project %}{{ project.name}}{% else %}New project{% endif %}</h2>
<h6 class="mt-2">
  <a href="{% url 'customer-detail' pk=customer.pk %}">{{ customer.name }}</a>
</h6>

<div class="mt-16 w-128">
  <form method="POST">
    {% csrf_token %}

    {{ form.customer }}

    <div class="text-field--filled">
      <label for="{{ form.name.id_for_label }}">Name</label>
      {{ form.name }} 
    </div>
    
    <div class="text-field--filled mt-4">
      <label for="{{ form.description.id_for_label }}">Description</label>
      {{ form.description }} 
    </div>

    <div class="text-field--filled mt-4">
      <label for="{{ form.business_development_manager.id_for_label }}">Business development manager (BD)</label>
      {{ form.business_development_manager }} 
    </div>
    
    <div class="text-field--filled mt-4">
      <label for="{{ form.business_development_administrator.id_for_label }}">Business development administrator (BDA)</label>
      {{ form.business_development_administrator }} 
    </div>

    <div class="text-field--filled mt-4">
      <label for="{{ form.territory.id_for_label }}">Territory</label>
      {{ form.territory }} 
    </div>

    <div class="text-field--filled mt-4">
      <label for="{{ form.primary_contact.id_for_label }}">Primary Contact</label>
      {{ form.primary_contact }}
    </div>
    
    <div class="text-field--filled mt-4">
      <label for="{{ form.secondary_contact.id_for_label }}">Secondary Contact</label>
      {{ form.secondary_contact }}
    </div>
    
    {% if project %}
    <div class="text-field--filled mt-4">
      <label for="{{ form.status.id_for_label }}">Status</label>
      {{ form.status }}
    </div>
    {% endif %}

    <div class="mt-4">
      <button class="btn--filled" type="submit">
        {% if customer %}Save{% else %}Create{% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock %}
