@import "../theme/colors.scss";
@import "../theme/states.scss";
@import "../theme/typography.scss";
@import "../theme/elevation.scss";


.btn {
  @extend .text--label-lg;

  align-items: center;
  border-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  display: flex;
  height: 38px;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  width: fit-content;

  &--filled {
    @extend .btn;
    @include stateLayers($primary);

    background-color: $primary;
    color: $on-primary !important;

    &:hover {
      @extend .elevation-1;
    }
  }

  &--tonal {
    @extend .btn;
    @include stateLayers($on-secondary-container);

    background-color: $secondary-container;
    color: $on-secondary-container !important;
  }

  &--text {
    @extend .btn;
    @include stateLayers($primary, $disabled: false)
    @include disabledStateLayer($on-surface, true);

    background-color: transparent;
    color: $primary !important;
  }

  &--text-error {
    @extend .btn;
    @include stateLayers($error, $disabled: false)
    @include disabledStateLayer($on-surface, true);

    background-color: transparent;
    color: $error !important;
  }

  &--icon {
    @extend .btn;
    @include stateLayers($primary, $disabled: false);
    @include disabledStateLayer($on-surface, true);

    background-color: transparent;
    color: $on-surface-variant;
    height: 40px;
    width: 40px;
    padding: 0;
  }

  &--icon-sm {
    @extend .btn--icon;

    height: 32px;
    width: 32px;
  }

  &--microsoft {
    @extend .btn;

    border-width: 1px;
    border-style: solid;
    border-color: #8c8c8c;
    border-radius: 0;
    color: #5e5e5e;
    font-size: 15px;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
  
    img {
      width: 24px;
      height: 24px;
      padding-right: 12px; 
    }

    &:hover {
      background-color: darken(#ffffff, 8%);
    }
  }
}
