{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/styles.scss' %}" media="screen">
    {% endcompress %}

    {% block head %}
      <title>Precision Safe Sidewalks</title>
    {% endblock %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% block nav %}
      {% include "navigation.html" %}
    {% endblock %}

    {% block content %}{% endblock %}
  </body>
</html>
