{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/styles.scss' %}" media="screen">
    {% endcompress %}

    <!-- Google Fonts (Material Icons) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}
    
    <title>
    {% block title %}Precision Safe Sidewalks{% endblock %}
    </title>
  </head>
  <body>
  {% block body %}
    {% block nav %}
      {% include "fragments/navigation.html" %}
    {% endblock %}

    <main class="nav-drawer">
      <div class="mx-16 my-16">
      {% block content %}{% endblock %}
      </div>
    </main>
  {% endblock %}

    <!-- Set the active navigation link -->
    <script type="text/javascript">
      $(document).ready(() => {
        const { origin, pathname } = window.location;

        $(`nav a[class="nav-item"]`).map((_, link) => {
          const path = $(link).prop("href").replace(origin, "")

          if (path === pathname) {
            $(link).addClass("active");
          }
        })
      })
    </script>
  </body>
</html>
