{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/styles.scss' %}" media="screen">
    {% endcompress %}

    <!-- Google Fonts (Material Icons) -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    {% block head %}
      <title>Precision Safe Sidewalks</title>
    {% endblock %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% block body %}
      {% include "fragments/navigation.html" %}
    
      <main>
        {% block content %}{% endblock %}
      </main>
    {% endblock %}
  </body>
</html>
