{% extends "base.html" %}

{% block content %}
<h2>{% if customer %}{{ customer.name }}{% else %}New customer{% endif %}</h2>

<div class="mt-8 w-128">
  <form method="POST">
    {% csrf_token %}

    <div class="text-field--filled">
      <label for="{{ form.name.id_for_label }}">Name</label>
      {{ form.name }} 
    </div>
    
    <div class="text-field--filled mt-4">
      <label for="{{ form.address.id_for_label }}">Address</label>
      {{ form.address }} 
    </div>
   
    <div class="text-field--filled mt-4">
      <label for="{{ form.city.id_for_label }}">City</label>
      {{ form.city }} 
    </div>
   
    <div class="text-field--filled mt-4">
      <label for="{{ form.state.id_for_label }}">State</label>
      {{ form.state }} 
    </div>

    <div class="mt-4">
      <button class="btn--filled" type="submit">
        {% if customer %}Save{% else %}Create{% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock %}
