{% extends "base.html" %}

{% block content %}
<div class="flex align-items-center justify-content-between">
  <h2>Customers</h2>
  <a class="btn--tonal" href="{% url 'customer-create' %}">
    New Customer
  </a>
</div>

<div class="my-12">
  <div id="customers-table"></div>
</div>

<script>
  $(document).ready(() => {
    new DataTable("customers-table", {
      columns: [
        "Customer Name",
        "Location",
        "Active Projects",
        "Completed Projects",
        "Created",
      ],
      url: "/api/tables/customers/",
      perPage: 10,
    })
  })
</script>
{% endblock %}
